# Copie este arquivo para .env e preencha os valores
# O arquivo .env nunca deve ser commitado no git

# URL base da API Flask
# Desenvolvimento: http://localhost:5000
# Produção: https://seu-servidor.com
VITE_API_URL=http://localhost:5000

#mexer aqui só quando o site real for para o ar
